<div class="navigation-container">
  <h3 class="router-link" [routerLink]="'products'">Kata Panier</h3>
  <h5 class="router-link ml-2" [routerLink]="'products'"><u>Liste des produits</u></h5>
</div>
<div class="router-link" [routerLink]="'checkout'">
  <div>
    <img class="cart" [ngClass]="!(isCartEmpty$ |async) ? 'top': ''" ngSrc="assets/shopping-cart.svg"
         aria-hidden="true" alt="" height="36" width="36"/>
  </div>
  <div *ngIf="!(isCartEmpty$ | async)" class="badge">{{ (cartItemsQuantity$ | async) }}</div>
</div>
